* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

#pagecontainer {
    background-color: rgb(222, 227, 231);
    height: 100%;
    border:1px solid black;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculatorcontainer {
    display: flex;
    flex-direction: column;
    background: rgb(136, 135, 135);
    width: 550px;
    height: 850px;
    border-radius: 70px;
    align-items: center;
    border: 3px solid black;
}

.name {
    margin: 35px auto;
    margin-bottom: 5px;
}


.screen {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(79, 79, 104);
    background-color: rgb(199, 223, 245);
    width: 80%;
    height: 15%;
    border-radius: 25px;
    margin: 5px auto;
}

.line {
    font-size: 40px;
    color: rgb(83, 79, 79);
    margin: 5px auto;
    margin-right: 15px;
    margin-bottom: 0;
}

.result {
    font-size: 65px;
    margin: 5px auto;
    margin-right: 15px;
    margin-top: 0;
}


.buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    /* background-color: wheat; */
    margin: 15px auto;
    width: 80%;
    height: 65%;
}

.button {
    border-radius: 33px;
    background-color: whitesmoke;
    cursor: pointer;
    box-sizing: border-box;
    border: 7px solid rgb(136, 135, 135);
    transition: .10s all;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.button:hover {
    transform: scale(1.1);
    background-color: rgb(199, 199, 199);
}
